# Python notebook checkpoints
.ipynb_checkpoints

# Cache files
.pytest_cache
__pycache__
plot_functions/__pycache__

# Text editor environment
.vscode

# Virtual Environment
venv

# MACOS specific file
.DS_Store
